@{
    ViewData["Title"] = "Список пациентов";
}

    <form method="POST">
        <button asp-controller="Patient" asp-action="New" type="submit" class="btn btn-primary">Новый пациент</button>
    </form>



